# SPDX-License-Identifier: GPL-3.0-or-later

[submodule "kconfiglib"]
	path = kconfiglib
	url = git@github.com:zephyrproject-rtos/Kconfiglib.git

[submodule "tapview"]
	path = tapview
	url = git@gitlab.com:esr/tapview.git
	ignore = dirty

[submodule "libusb"]
	path = libusb
	url = git@github.com:libusb/libusb.git
	ignore = untracked

[submodule "libdeflate"]
	path = libdeflate
	url = git@github.com:ebiggers/libdeflate.git

[submodule "stb"]
	path = stb
	url = git@github.com:nothings/stb.git
