# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description = SpaceMouse LCD daemon
Requires = smentlcd.socket
After = smentlcd.socket

[Service]
Type = exec
ExecStart = %h/.local/bin/smentlcdd start
Restart = on-failure
RestartSec = 500ms
