# SPDX-License-Identifier: GPL-3.0-or-later

menu "Runtime defaults"

config UTF8_LOCALE
	string "Default LC_CTYPE"
	default "$(utf8-locale)"

config SMENT_VID
	int "SpaceMouse Enterprice vendor ID"
	default 0x$(cut,$(first-line,device_info),1)

config SMENT_PID
	int "SpaceMouse Enterprice product ID"
	default 0x$(cut,$(first-line,device_info),2)

config RECORD_SHOW_TIMESTAMP
	bool "Prefix record message with timestamp"
	default n

config LOG_MESSAGE_RING_SIZE
	int "Message queue size of logging system"
	default 512

config LOG_MESSAGE_BUFFER_SIZE
	int "Message buffer size of logging system"
	default 2048

endmenu # Runtime defaults
