# SPDX-License-Identifier: GPL-3.0-or-later

menu "Runtime defaults"

config UTF8_LOCALE
	string "Default LC_CTYPE"
	default "$(utf8-locale)"

config SMENT_VID
	int "SpaceMouse Enterprice vendor ID"
	default 0x256f

config SMENT_PID
	int "SpaceMouse Enterprice product ID"
	default 0xc633

config RECORD_SHOW_TIMESTAMP
	bool "Prefix record message with timestamp"
	default n

endmenu # Runtime defaults
